.App {
  position: absolute;
  background-color: #282c34;
  min-width: 100vw;
  min-height: 100vh;
}


.room-img {
  height: 500px;
  left: 0;
  top: 0;
  float: left;
}

.App-header {
  font-size: calc(8px + 2vmin);
  color: white;
  padding-left: 510px;
  padding-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  transition: opacity 1000ms, transform 1000ms
}

.canvas {
  position: absolute;
  width: 500px;
  height: 500px;
}
