.App {
  position: relative;
  background-color: #282c34;
  min-width: 100vw;
  min-height: 100vh;
  color-scheme: dark;
}

h3 {
  margin-block-end: 0;
  margin-top: 1.5em;
  padding-right: 50px;
}

small {
  font-size: x-small;
}

@media only screen and (max-width: 650px) {
  .App {
    padding-top: 80px;
  }
}

@media only screen and (min-width: 651px) {
  .App {
    padding-top: 40px;
  }
}

.infopage p, .infopage ul {
  font-size: 14px;
  line-height: 25px;
  padding-right: 50px;
}

.room-img {
  height: 500px;
  left: 0;
  top: 0;
  float: left;
}

.App-header {
  font-size: calc(6px + 2vmin);
  color: white;
  padding-left: 510px;
  padding-top: 10px;
  padding-right: 50px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  transition: opacity 1000ms, transform 1000ms
}

.canvas {
  position: absolute;
  width: 500px;
  height: 500px;
}
